*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 700ms ease-in-out;
    user-select: none;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #252a34;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    text-align: center;
    padding-top: 6vh;
}
.turn-container{
  margin: auto;
  display: grid;
  width: 170px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  overflow: hidden;
}
.turn-container h3{
    margin: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.turn-container .turn-box{
    border: 2px solid black;
    font-size: 1.6rem;
    font-weight: 700;
    padding: none;
}
.turn-container .turn-box:nth-child(even){
    border-right: none;
}
.bg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 85px;
    height: 30px;
    background-color: #ff2e63;
    z-index: -1;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    height: 250px; 
    width: 250px;
    margin: 30px auto;
    border: 2px solid black;
}
.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid black;
}
.box:hover{
    background-color: #ff2e63;
}
#play-agin{
    background-color: #ff2e63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#play-agin:hover{
    background-color: transparent;
    border: 2px solid #ff2e63;
    color: #ff2e63;
    padding: 10px 40px;
}